<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payu.sdk" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true">
        <activity
            android:name=".ProcessPaymentActivity"
            android:configChanges="orientation|keyboard|screenSize">
        </activity>
    </application>

</manifest>
